@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=ES-es"></script>

<script>
    var map = null;
    var polyPoints = new Array();   //Arreglo que guarda los puntos del poligono
    var down = 0;
    var X = 0, Y = 0;
    var origin;
    var options;
    var shapeCoordinatesJSON = ""; //Variable global que almacena el JSON de las coordenadas

    function GetMap() {
        map = new Microsoft.Maps.Map(document.getElementById("map_shapes"), {
            credentials: "ApOTYKFhJOwRBzZjezJNQfmXOYGZipN16UiNVMAqterclvoLldC89u7l9AsHrHOP"
            //credentials: "Ar68-tKrKTTwzHDleJ9cdkPbn7VaTWWNQZXJmcwAjU_s33ARtdghuEnrvSh3QzFY"
        });

        map.setView({ center: new Microsoft.Maps.Location(-30, -70), zoom: 6 });

        //Creamos un layer que solo guarde los poligonos
        var polygonLayer = new Microsoft.Maps.EntityCollection();
        map.entities.push(polygonLayer);

        //Cursos en estilo de cruz
        map.getRootElement().style.cursor = 'crosshair';

        //Eliminamos el menú que aparece al apretar con el boton derecho
        document.oncontextmenu = function (e) {
            return false;
        };

        //Opciones del color del borde y el relleno del pólígono que se dibuja
        options = { fillColor: new Microsoft.Maps.Color(140, 13, 76, 167), strokeColor: new Microsoft.Maps.Color(140, 2, 46, 108) };
        //Eventos del mouse. Cada uno direcciona a un metodo que se ocupa de ese evento
        //Microsoft.Maps.Events.addHandler(map, 'mouseup', MouseUpHandler);
        //Microsoft.Maps.Events.addHandler(map, 'mousemove', MouseMoveHandler);
        //Microsoft.Maps.Events.addHandler(map, 'mouseover', MouseOverHandler);
        //Microsoft.Maps.Events.addHandler(map, 'rightclick', RightClickHandler);
    }
</script>

<script type="text/javascript">
        $(document).ready(function () {
            GetMap();
        });
</script>

<div id='map_shapes'></div>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@